section {
	padding:5em 2em;
}



.thumb {
	  width:200px;
  height:200px !important;
}

.og-grid {
  li {
      width: 26%;
	margin: 0 28px 28px;

}
}

#last-year-speakers{
  .og-grid li {
  padding-bottom: 2em;
 
  }
}

.content {
	img{
		width:325px;
	}
}

h2 {
  font-size: 50px;
}

.intro {


  .content {
  	padding:2em 0;

    h1 {

      font-size: 75px;

    }
    img {
      width:312px;
    }
    .date {
      font-size: 40px;
      margin:25px 0;
    }
  }
}


.mainnav {

&.scroll {

  a {
    padding:1.5em 0px;
  }
}
  ul{
    li {
      width:15%;
      
      a {
        font-size: 1.1em;
      }
    }
  }
}



.og-expander-inner {
  padding:50px 150px;
}