@font-face {
    font-family: 'annaregular';
    src: url('/resources/fonts/ufonts.com_anna.eot');
    src: url('/resources/fonts/ufonts.com_anna.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/ufonts.com_anna.woff') format('woff'),
         url('/resources/fonts/ufonts.com_anna.ttf') format('truetype'),
         url('/resources/fonts/ufonts.com_anna.svg#annaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

