* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
@extend %clearfix;
}

body {
  padding:0;
  background-repeat:repeat;
}

h2 {
  font-size: 50px;
  font-weight: 100;
  letter-spacing:2px;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

h2 {
  font-size: 30px;
}

.hero {
  background-size:cover;
  background-color:#2c2c2c;
  p {
    color:white;
  }
  
}

.intro {
  display:table;
  width:100%;
  padding:0;
  min-height:566px;


  .content {
    .logo {
      margin-bottom:.5em;
    }

    width:100%;
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    color:white;
    h1 {
      color:white;
      font-size: 50px;
      font-weight: 100;
      width:80%;
      margin:0 auto .5em;
      font-family: $lobster;
      text-transform: none;
    }
    img {
      width:40%;
    }
    .date {
      color:$secondary;
      font-size: 25px;
      font-weight: 400;
      font-family: $lobster;
      text-transform: none;
    }
  }
}

.speakers {
  .og-details{
    p{
      color:#747474;
    }
  }
  background-color:$primary;
  li {
   /* @include rowGrid(1,3%);*/
 
  /*  float:left;*/
    @include transition(all .5s);
    &:hover {
      @include transition(all .5s);
      .thumb {
        @include transition(all .3s);
        @include opacity(.5);

      }
      h3, .color {
        @include transition(all .5s);
          color:$secondary;
        }
    }
  }
  h2 {
    color:white;
  }
  .meta{
    
    text-align: center;
    p,h3{
      color:white;
    }
    h3 {
      font-size: 24px;
      margin:0;
      font-family: $lobster;
      text-transform: none;
    }
    p {
      font-size: 12px;
      font-weight: 200;
      font-style: italic;
      margin:0;
    }
  }
}

.social {
  position: absolute;
}

section {
  padding:5em 1em;
  position: relative;
  overflow-x:hidden;
    
}

.teaser {
  position: relative;
  margin-top:2em;
  bottom:0px;
  text-align: center;
  width:100%;
  color:$secondary;
  font-style: italic;
  font-weight: 100;

}

.gray {
  .teaser {
    color:$primary;
    font-weight: 400;
  }
}

.intro {
  .teaser {
    position: absolute;
  }
}

.wrap {
  max-width: 940px;
  margin:0 auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

.speakers {

}

.thumb{
  border:solid 4px $secondary;
  border-radius:100px;
  width:200px;
  height:200px;
  overflow:hidden !important;
  margin:auto;
  display: inline-block;
  background-size:cover;

}



/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

.og-grid {
  li {
      width: 36%;
margin: 20px;

}
}

.schedule {
  .conference {
    h3 {
      font-size: 1.5em;
      text-align:left;
      font-weight: 600;
      text-transform: none;
      font-family: $lobster;
    }
    p {
      margin:0 0 5px 0;
    }
    .span2 {
      p {
        font-weight: 600;
      }
    }
  }
}

.contact {
  h2,p {
    color:white;
  }
}
    
.m-menu {
 
  a {
    font-size:26px !important;
    margin-left:1em !important;
     &.active, &:hover {
    border:0px !important;
  }
  }
}
.mainnav {
@include transition(all .5s);
background:$secondary;
z-index: 1000;
position: relative;
&.scroll {
  position:fixed;
  background: rgba(250,168,27,.8);
  @include transition(all .5s);
  top:0;
  z-index:1000;
  a {
    padding:1.5em 5px;

    
  }
}
  ul{width: 100%;
    text-align: left;
    display: inline-block;
    li {
      width:auto;
      display:inline-block;
      
      a {
        padding:1em 5px;
        display: inline-block;
        width:100%;
        color:$primary;
        border-bottom:solid 6px transparent;
        font-size: 13px;
        text-transform: uppercase;
        &:visited{
          color:$primary;
        }
        &:hover, &.active {
          border-color: $primary;
        }
      }
    }
  }
}

.og-grid {
  padding:0;
  li {
    width:100%;
    margin:0 0 20px 0;
  }
}


.social {
  position: fixed;
  bottom:1em;
  left:.5em;
  span {
    color:#868686;
    font-size: 24px;
  }
  a {
    margin-right:.5em;
    @include opacity(.2);
    &:hover {
      @include opacity(.8);
    }
  }
}

.scroll-to-top {
  position:fixed;
  cursor: pointer; 
  width:40px;
  bottom: 1em; 
  padding-right: 1em; 
  display: none; 
  z-index: 999;
  background-size:cover;
  display: block;
  right: 1em;
  @include transition(all .3s);
  &:hover {
    @include opacity(.4);
  }
}

.map {
  border:solid 4px $secondary;
}

.hero h2 {
  color:white !important;
}




/* General styles for all menus */
.cbp-spmenu {
  background: #33312F;
  position: fixed;
}

.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu a:hover {
  background: $secondary;
}

.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu-vertical a {
  border-bottom: 1px solid #000000;
  padding: 1em;
}

.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
  left: -240px;
}

.cbp-spmenu-right {
  right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
  top: -150px;
}

.cbp-spmenu-bottom {
  bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 240px;
}

.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  .cbp-spmenu-top {
    top: -110px;
  }

  .cbp-spmenu-bottom {
    bottom: -110px;
  }

}

@media screen and (max-height: 26.375em){

  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  .cbp-spmenu-right {
    right: -190px;
  }

  .cbp-spmenu-push-toright {
    left: 190px;
  }
}

.cbp-spmenu-push-toright {
  .mainnav.scroll {
    @include transition(all .3s);
    left:240px;
  }
}


#last-year-speakers{
  .og-grid li {

  .thumb {
    width: 170px !important;
    height:170px !important;
  }
  }
}


#location {
  h3 {
    font-family: $lobster;
    text-transform: none;
    color:white;
    font-size: 2em;
  }
}

iframe {
  width:100% !important;
  max-width:420px !important;
  .page-container {
    width:100% !important;
  }
}

.og-expander-inner {
  padding:20px 20px;
}