body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
  text-transform: uppercase;
}

h1 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  color: $neutral;
}

h2 {
  font-weight: 400;
  margin:0 0 1em;
  text-align: center;
  font-size: 3em;
  line-height: 1.2;
  font-family: 'Raleway', sans-serif;
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$primary;
}

a {
  color:$secondary;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    @include opacity(.8);
    text-decoration: none;
  }
  &:visited {
    color:$primary;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

@font-face {
  font-family: 'avidity';
  src:url('/resources/fonts/avidity.eot?-j8vth9');
  src:url('/resources/fonts/avidity.eot?#iefix-j8vth9') format('embedded-opentype'),
    url('/resources/fonts/avidity.woff?-j8vth9') format('woff'),
    url('/resources/fonts/avidity.ttf?-j8vth9') format('truetype'),
    url('/resources/fonts/avidity.svg?-j8vth9#avidity') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  font-family: 'avidity';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-phone:before {
  content: "\e600";
}
.ico-envelope:before {
  content: "\e601";
}
.ico-location:before {
  content: "\e602";
}
.ico-cogs:before {
  content: "\e603";
}
.ico-rocket:before {
  content: "\e604";
}
.ico-menu:before {
  content: "\e605";
}
.ico-facebook:before {
  content: "\e606";
}
.ico-twitter:before {
  content: "\e607";
}
