// COLOR PALETTE
$primary: #2C2C2C;
$secondary: #faa81b;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: red;

// FONT STACKS
$heading:  'Raleway', sans-serif;
$body: 'Raleway', sans-serif;
$lobster: 'Lobster', cursive;