<section id="contact" class="contact hero" style="background-image:url('[[+header-image]]')">
             <div class="row-fluid wrap">
                 <h2>[[+pagetitle]]</h2>
                 <div class="row-fluid">
                     <div class="span6">
                         [[+content]]
                         
                     </div>
                     <div class="span5 offset1">
                         
                         [[$contact_form]]
                         <br>
                         <br>
                     </div>
                   
                 </div>
             </div>
             <a href="" id="toTop" class="scroll-to-top">
                 <img src="/resources/img/arrow.png" alt="">
            </a>
         </section>