<li>
		<a target="_blank" href="[[+speaker-video]]">
	        <div class="thumb" style="background-image:url('[[+speaker-pic]]');">
	            
	        </div>
	        <div class="meta">
	            <h3>[[+speaker-name]]</h3>
	            <p>[[+speaker-company]]</p>
	            <p class="color">Watch The Presentation</p>
	        </div>
	    </a>

</li>