<div class="row-fluid wrap">
     [[+content]]
     <div class="conference">
        <h3>Conference Day One</h3>
        [[!getImageList? &tvname=`day-1` &tpl=`conference-day`]]
         
     </div>
     <div class="conference">
        <h3>Conference Day Two</h3>
        [[!getImageList? &tvname=`day-2` &tpl=`conference-day`]]
         
     </div>
     
 </div>

     <p>[[+teaser]]</p>
