<li>
    <a href="" data-largesrc="[[+speaker-pic]]" data-title="[[+speaker-name]]" data-description="[[+speaker-bio]]">
        <div class="thumb" style="background-image:url('[[+speaker-pic]]');">
            
        </div>
        <div class="meta">
            <h3>[[+speaker-name]]</h3>
            <p>[[+speaker-job]]</p>
            <p>[[+speaker-company]]</p>
        </div>
    </a>
</li>