/* line 26, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  *zoom: 1;
}
/* line 28, ../sass/_mixins.scss */
.cf:before:before,
.cf:after:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/_mixins.scss */
.cf:after:after {
  clear: both;
}

/* Fluid Grid
-----------------
*/
/* line 1, ../sass/_grid-plugin.scss */
.og-grid {
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

/* line 9, ../sass/_grid-plugin.scss */
.og-grid li {
  display: inline-block;
  vertical-align: top;
}

/* line 16, ../sass/_grid-plugin.scss */
.og-grid li > a,
.og-grid li > a img {
  border: none;
  outline: none;
  display: block;
  position: relative;
}

/* line 23, ../sass/_grid-plugin.scss */
.og-grid li.og-expanded > a::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #ddd;
  border-width: 15px;
  left: 50%;
  margin: -20px 0 0 -15px;
}

/* line 37, ../sass/_grid-plugin.scss */
.og-expander {
  position: absolute;
  background: #ddd;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}

/* line 49, ../sass/_grid-plugin.scss */
.og-expander-inner {
  padding: 50px 30px;
  height: 100%;
}

/* line 54, ../sass/_grid-plugin.scss */
.og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* line 64, ../sass/_grid-plugin.scss */
.og-close::before,
.og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #888;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 76, ../sass/_grid-plugin.scss */
.og-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 83, ../sass/_grid-plugin.scss */
.og-close:hover::before,
.og-close:hover::after {
  background: #333;
}

/* line 88, ../sass/_grid-plugin.scss */
.og-fullimg,
.og-details {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* line 96, ../sass/_grid-plugin.scss */
.og-details {
  width: 65%;
  padding: 0 40px 0 20px;
}
/* line 99, ../sass/_grid-plugin.scss */
.og-details h3 {
  font-size: 20px;
  color: #2c2c2c;
}
/* line 103, ../sass/_grid-plugin.scss */
.og-details p {
  color: #2c2c2c;
}

/* line 108, ../sass/_grid-plugin.scss */
.og-fullimg {
  text-align: center;
  width: 35%;
}

/* line 113, ../sass/_grid-plugin.scss */
.og-fullimg img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}

/* line 119, ../sass/_grid-plugin.scss */
.og-details h3 {
  font-weight: 300;
  font-size: 52px;
  padding: 0px 0 10px;
  margin: 0 0 10px;
}

/* line 126, ../sass/_grid-plugin.scss */
.og-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #999;
}

/* line 133, ../sass/_grid-plugin.scss */
.og-details a {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  border: 3px solid #333;
  display: inline-block;
  margin: 30px 0 0;
  outline: none;
}

/* line 146, ../sass/_grid-plugin.scss */
.og-details a::before {
  content: '\2192';
  display: inline-block;
  margin-right: 10px;
}

/* line 152, ../sass/_grid-plugin.scss */
.og-details a:hover {
  border-color: #999;
  color: #999;
}

/* line 157, ../sass/_grid-plugin.scss */
.og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
  /* line 173, ../sass/_grid-plugin.scss */
  0% {
    background: #ddd;
  }

  /* line 174, ../sass/_grid-plugin.scss */
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
  }

  /* line 175, ../sass/_grid-plugin.scss */
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
  }
}

@-moz-keyframes loader {
  /* line 179, ../sass/_grid-plugin.scss */
  0% {
    background: #ddd;
  }

  /* line 180, ../sass/_grid-plugin.scss */
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
  }

  /* line 181, ../sass/_grid-plugin.scss */
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
  }
}

@keyframes loader {
  /* line 185, ../sass/_grid-plugin.scss */
  0% {
    background: #ddd;
  }

  /* line 186, ../sass/_grid-plugin.scss */
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
  }

  /* line 187, ../sass/_grid-plugin.scss */
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
  }
}

@media screen and (max-width: 830px) {
  /* line 192, ../sass/_grid-plugin.scss */
  .og-expander h3 {
    font-size: 32px;
  }

  /* line 193, ../sass/_grid-plugin.scss */
  .og-expander p {
    font-size: 13px;
  }

  /* line 194, ../sass/_grid-plugin.scss */
  .og-expander a {
    font-size: 12px;
  }
}
@media screen and (max-width: 650px) {
  /* line 200, ../sass/_grid-plugin.scss */
  .og-fullimg {
    display: none;
  }

  /* line 201, ../sass/_grid-plugin.scss */
  .og-details {
    float: none;
    width: 100%;
  }
}
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 51, ../sass/_reset.scss */
a {
  color: #00e;
}

/* line 52, ../sass/_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 53, ../sass/_reset.scss */
a:hover {
  color: #06e;
}

/* line 54, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 57, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 64, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 68, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 70, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 72, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 76, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 79, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 82, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 84, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 85, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 87, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 90, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 92, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 99, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 100, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 101, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 113, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 119, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 126, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 133, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 134, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 137, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 144, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 152, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 158, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 166, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 172, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 178, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 179, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 180, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 186, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 193, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 197, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 204, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 205, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 213, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 214, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 217, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 220, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 223, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 226, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 229, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 230, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 231, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 239, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 240, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 241, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 242, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 243, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 244, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 245, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 246, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 247, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 249, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 250, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 20, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/* line 1, ../sass/_typography.scss */
body {
  font: 100%/1.5 "Raleway", sans-serif;
  color: #011f40;
}

/* HEADINGS */
/* line 8, ../sass/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  color: #2c2c2c;
  text-transform: uppercase;
}

/* line 14, ../sass/_typography.scss */
h1 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  color: #011f40;
}

/* line 23, ../sass/_typography.scss */
h2 {
  font-weight: 400;
  margin: 0 0 1em;
  text-align: center;
  font-size: 3em;
  line-height: 1.2;
  font-family: 'Raleway', sans-serif;
}

/* PARAGRAPH */
/* line 34, ../sass/_typography.scss */
p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #2c2c2c;
}

/* line 42, ../sass/_typography.scss */
a {
  color: #faa81b;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
/* line 46, ../sass/_typography.scss */
a:hover {
  opacity: 0.8;
  filter: alpha(opacity=0.8);
  text-decoration: none;
}
/* line 50, ../sass/_typography.scss */
a:visited {
  color: #2c2c2c;
}

/* LISTS */
/* line 56, ../sass/_typography.scss */
ul {
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: 'avidity';
  src: url("/resources/fonts/avidity.eot?-j8vth9");
  src: url("/resources/fonts/avidity.eot?#iefix-j8vth9") format("embedded-opentype"), url("/resources/fonts/avidity.woff?-j8vth9") format("woff"), url("/resources/fonts/avidity.ttf?-j8vth9") format("truetype"), url("/resources/fonts/avidity.svg?-j8vth9#avidity") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 72, ../sass/_typography.scss */
[class^="ico-"], [class*=" ico-"] {
  font-family: 'avidity';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 86, ../sass/_typography.scss */
.ico-phone:before {
  content: "\e600";
}

/* line 89, ../sass/_typography.scss */
.ico-envelope:before {
  content: "\e601";
}

/* line 92, ../sass/_typography.scss */
.ico-location:before {
  content: "\e602";
}

/* line 95, ../sass/_typography.scss */
.ico-cogs:before {
  content: "\e603";
}

/* line 98, ../sass/_typography.scss */
.ico-rocket:before {
  content: "\e604";
}

/* line 101, ../sass/_typography.scss */
.ico-menu:before {
  content: "\e605";
}

/* line 104, ../sass/_typography.scss */
.ico-facebook:before {
  content: "\e606";
}

/* line 107, ../sass/_typography.scss */
.ico-twitter:before {
  content: "\e607";
}

@font-face {
  font-family: 'annaregular';
  src: url("/resources/fonts/ufonts.com_anna.eot");
  src: url("/resources/fonts/ufonts.com_anna.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/ufonts.com_anna.woff") format("woff"), url("/resources/fonts/ufonts.com_anna.ttf") format("truetype"), url("/resources/fonts/ufonts.com_anna.svg#annaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Animations */
/* line 3, ../sass/_animations.scss */
.left-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: left-fast;
  -moz-animation-name: left-fast;
  animation-name: left-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 8, ../sass/_animations.scss */
.right-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: right-fast;
  -moz-animation-name: right-fast;
  animation-name: right-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 12, ../sass/_animations.scss */
.roll-in-left {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: roll-in-left;
  -moz-animation-name: roll-in-left;
  animation-name: roll-in-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 16, ../sass/_animations.scss */
.up {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: up;
  -moz-animation-name: up;
  animation-name: up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 20, ../sass/_animations.scss */
.down {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: down;
  -moz-animation-name: down;
  animation-name: down;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 24, ../sass/_animations.scss */
.fade-in {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 28, ../sass/_animations.scss */
.delay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* line 32, ../sass/_animations.scss */
.delay2 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

/* KEYFRAMES */
@-webkit-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-moz-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-o-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-webkit-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-moz-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-o-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-webkit-keyframes roll-in-left {
  /* line 53, ../sass/_animations.scss */
  0% {
    opacity: 0;
    margin-left: -500px;
    -webkit-transform: rotateX(550deg);
  }

  /* line 54, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-moz-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-o-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-webkit-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-moz-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-o-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-webkit-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-moz-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-o-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

/* SENCHA ANIMATIONS */
/* Contact Form */
/* line 2, ../sass/_forms.scss */
.main-form {
  position: relative;
}

/* line 7, ../sass/_forms.scss */
.main-form:before,
.main-form:after {
  content: " ";
  display: table;
}

/* line 11, ../sass/_forms.scss */
.main-form:after {
  clear: both;
}

/* line 15, ../sass/_forms.scss */
.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  color: #faa81b;
}

/* line 27, ../sass/_forms.scss */
.main-form input,
.main-form textarea,
.main-form select {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: #2c2c2c;
  display: block;
  width: 100%;
  background: #ebebeb;
}

/* line 39, ../sass/_forms.scss */
.main-form input,
.main-form textarea {
  border: 0px;
  border-radius: 0 !important;
  padding: 1em;
  box-shadow: none;
}

/* line 46, ../sass/_forms.scss */
.main-form textarea {
  min-height: 200px;
}

/* line 53, ../sass/_forms.scss */
.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid #2c2c2c;
}

/* line 58, ../sass/_forms.scss */
.main-form select:focus {
  outline: none;
}

/* line 62, ../sass/_forms.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #10689a;
  font-style: italic;
}

/* line 67, ../sass/_forms.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #10689a;
  font-style: italic;
}

/* line 72, ../sass/_forms.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #10689a;
  font-style: italic;
}

/* line 77, ../sass/_forms.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #10689a;
  font-style: italic;
}

/* line 82, ../sass/_forms.scss */
.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

/* line 88, ../sass/_forms.scss */
.main-form input.cbp-mc-submit {
  background: #666666;
  border: none;
  color: white;
  width: auto;
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 1em 0;
  font-weight: 100;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 103, ../sass/_forms.scss */
.main-form input.cbp-mc-submit:hover {
  background: #faa81b;
  color: #2c2c2c;
}

/* line 108, ../sass/_forms.scss */
#nospam, .nospam {
  display: none;
}

/* line 112, ../sass/_forms.scss */
.thumbs {
  width: 47%;
  margin: 1%;
  float: left;
}
/* line 116, ../sass/_forms.scss */
.thumbs img {
  width: 100%;
}

/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/_smallest.scss */
body {
  padding: 0;
  background-repeat: repeat;
}

/* line 17, ../sass/_smallest.scss */
h2 {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 2px;
}

/* RESPONSIVE IMAGES */
/* line 24, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 31, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* MAIN */
/* line 38, ../sass/_smallest.scss */
h2 {
  font-size: 30px;
}

/* line 42, ../sass/_smallest.scss */
.hero {
  background-size: cover;
  background-color: #2c2c2c;
}
/* line 45, ../sass/_smallest.scss */
.hero p {
  color: white;
}

/* line 51, ../sass/_smallest.scss */
.intro {
  display: table;
  width: 100%;
  padding: 0;
  min-height: 566px;
}
/* line 58, ../sass/_smallest.scss */
.intro .content {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}
/* line 59, ../sass/_smallest.scss */
.intro .content .logo {
  margin-bottom: .5em;
}
/* line 68, ../sass/_smallest.scss */
.intro .content h1 {
  color: white;
  font-size: 50px;
  font-weight: 100;
  width: 80%;
  margin: 0 auto .5em;
  font-family: "Lobster", cursive;
  text-transform: none;
}
/* line 77, ../sass/_smallest.scss */
.intro .content img {
  width: 40%;
}
/* line 80, ../sass/_smallest.scss */
.intro .content .date {
  color: #faa81b;
  font-size: 25px;
  font-weight: 400;
  font-family: "Lobster", cursive;
  text-transform: none;
}

/* line 90, ../sass/_smallest.scss */
.speakers {
  background-color: #2c2c2c;
}
/* line 92, ../sass/_smallest.scss */
.speakers .og-details p {
  color: #747474;
}
/* line 97, ../sass/_smallest.scss */
.speakers li {
  /* @include rowGrid(1,3%);*/
  /*  float:left;*/
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 102, ../sass/_smallest.scss */
.speakers li:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 104, ../sass/_smallest.scss */
.speakers li:hover .thumb {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
  filter: alpha(opacity=0.5);
}
/* line 109, ../sass/_smallest.scss */
.speakers li:hover h3, .speakers li:hover .color {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #faa81b;
}
/* line 115, ../sass/_smallest.scss */
.speakers h2 {
  color: white;
}
/* line 118, ../sass/_smallest.scss */
.speakers .meta {
  text-align: center;
}
/* line 121, ../sass/_smallest.scss */
.speakers .meta p, .speakers .meta h3 {
  color: white;
}
/* line 124, ../sass/_smallest.scss */
.speakers .meta h3 {
  font-size: 24px;
  margin: 0;
  font-family: "Lobster", cursive;
  text-transform: none;
}
/* line 130, ../sass/_smallest.scss */
.speakers .meta p {
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
  margin: 0;
}

/* line 139, ../sass/_smallest.scss */
.social {
  position: absolute;
}

/* line 143, ../sass/_smallest.scss */
section {
  padding: 5em 1em;
  position: relative;
  overflow-x: hidden;
}

/* line 150, ../sass/_smallest.scss */
.teaser {
  position: relative;
  margin-top: 2em;
  bottom: 0px;
  text-align: center;
  width: 100%;
  color: #faa81b;
  font-style: italic;
  font-weight: 100;
}

/* line 163, ../sass/_smallest.scss */
.gray .teaser {
  color: #2c2c2c;
  font-weight: 400;
}

/* line 170, ../sass/_smallest.scss */
.intro .teaser {
  position: absolute;
}

/* line 175, ../sass/_smallest.scss */
.wrap {
  max-width: 940px;
  margin: 0 auto;
}
/* line 178, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 183, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* line 193, ../sass/_smallest.scss */
.thumb {
  border: solid 4px #faa81b;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  overflow: hidden !important;
  margin: auto;
  display: inline-block;
  background-size: cover;
}

/* FOOTER */
/* BUTTON */
/* line 218, ../sass/_smallest.scss */
.og-grid li {
  width: 36%;
  margin: 20px;
}

/* line 227, ../sass/_smallest.scss */
.schedule .conference h3 {
  font-size: 1.5em;
  text-align: left;
  font-weight: 600;
  text-transform: none;
  font-family: "Lobster", cursive;
}
/* line 234, ../sass/_smallest.scss */
.schedule .conference p {
  margin: 0 0 5px 0;
}
/* line 238, ../sass/_smallest.scss */
.schedule .conference .span2 p {
  font-weight: 600;
}

/* line 246, ../sass/_smallest.scss */
.contact h2, .contact p {
  color: white;
}

/* line 253, ../sass/_smallest.scss */
.m-menu a {
  font-size: 26px !important;
  margin-left: 1em !important;
}
/* line 256, ../sass/_smallest.scss */
.m-menu a.active, .m-menu a:hover {
  border: 0px !important;
}

/* line 261, ../sass/_smallest.scss */
.mainnav {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #faa81b;
  z-index: 1000;
  position: relative;
}
/* line 266, ../sass/_smallest.scss */
.mainnav.scroll {
  position: fixed;
  background: rgba(250, 168, 27, 0.8);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
  z-index: 1000;
}
/* line 272, ../sass/_smallest.scss */
.mainnav.scroll a {
  padding: 1.5em 5px;
}
/* line 278, ../sass/_smallest.scss */
.mainnav ul {
  width: 100%;
  text-align: left;
  display: inline-block;
}
/* line 281, ../sass/_smallest.scss */
.mainnav ul li {
  width: auto;
  display: inline-block;
}
/* line 285, ../sass/_smallest.scss */
.mainnav ul li a {
  padding: 1em 5px;
  display: inline-block;
  width: 100%;
  color: #2c2c2c;
  border-bottom: solid 6px transparent;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 293, ../sass/_smallest.scss */
.mainnav ul li a:visited {
  color: #2c2c2c;
}
/* line 296, ../sass/_smallest.scss */
.mainnav ul li a:hover, .mainnav ul li a.active {
  border-color: #2c2c2c;
}

/* line 304, ../sass/_smallest.scss */
.og-grid {
  padding: 0;
}
/* line 306, ../sass/_smallest.scss */
.og-grid li {
  width: 100%;
  margin: 0 0 20px 0;
}

/* line 313, ../sass/_smallest.scss */
.social {
  position: fixed;
  bottom: 1em;
  left: .5em;
}
/* line 317, ../sass/_smallest.scss */
.social span {
  color: #868686;
  font-size: 24px;
}
/* line 321, ../sass/_smallest.scss */
.social a {
  margin-right: .5em;
  opacity: 0.2;
  filter: alpha(opacity=0.2);
}
/* line 324, ../sass/_smallest.scss */
.social a:hover {
  opacity: 0.8;
  filter: alpha(opacity=0.8);
}

/* line 330, ../sass/_smallest.scss */
.scroll-to-top {
  position: fixed;
  cursor: pointer;
  width: 40px;
  bottom: 1em;
  padding-right: 1em;
  display: none;
  z-index: 999;
  background-size: cover;
  display: block;
  right: 1em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 342, ../sass/_smallest.scss */
.scroll-to-top:hover {
  opacity: 0.4;
  filter: alpha(opacity=0.4);
}

/* line 347, ../sass/_smallest.scss */
.map {
  border: solid 4px #faa81b;
}

/* line 351, ../sass/_smallest.scss */
.hero h2 {
  color: white !important;
}

/* General styles for all menus */
/* line 359, ../sass/_smallest.scss */
.cbp-spmenu {
  background: #33312F;
  position: fixed;
}

/* line 364, ../sass/_smallest.scss */
.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

/* line 373, ../sass/_smallest.scss */
.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

/* line 380, ../sass/_smallest.scss */
.cbp-spmenu a:hover {
  background: #faa81b;
}

/* line 384, ../sass/_smallest.scss */
.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */
/* line 391, ../sass/_smallest.scss */
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

/* line 398, ../sass/_smallest.scss */
.cbp-spmenu-vertical a {
  border-bottom: 1px solid #000000;
  padding: 1em;
}

/* line 403, ../sass/_smallest.scss */
.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

/* line 411, ../sass/_smallest.scss */
.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

/* line 417, ../sass/_smallest.scss */
.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */
/* line 426, ../sass/_smallest.scss */
.cbp-spmenu-left {
  left: -240px;
}

/* line 430, ../sass/_smallest.scss */
.cbp-spmenu-right {
  right: -240px;
}

/* line 434, ../sass/_smallest.scss */
.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

/* line 438, ../sass/_smallest.scss */
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Horizontal menu that slides from the top or bottom */
/* line 444, ../sass/_smallest.scss */
.cbp-spmenu-top {
  top: -150px;
}

/* line 448, ../sass/_smallest.scss */
.cbp-spmenu-bottom {
  bottom: -150px;
}

/* line 452, ../sass/_smallest.scss */
.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

/* line 456, ../sass/_smallest.scss */
.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}

/* Push classes applied to the body */
/* line 462, ../sass/_smallest.scss */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/* line 468, ../sass/_smallest.scss */
.cbp-spmenu-push-toright {
  left: 240px;
}

/* line 472, ../sass/_smallest.scss */
.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */
/* line 479, ../sass/_smallest.scss */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */
@media screen and (max-width: 55.1875em) {
  /* line 489, ../sass/_smallest.scss */
  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  /* line 494, ../sass/_smallest.scss */
  .cbp-spmenu-top {
    top: -110px;
  }

  /* line 498, ../sass/_smallest.scss */
  .cbp-spmenu-bottom {
    bottom: -110px;
  }
}
@media screen and (max-height: 26.375em) {
  /* line 506, ../sass/_smallest.scss */
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  /* line 512, ../sass/_smallest.scss */
  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  /* line 516, ../sass/_smallest.scss */
  .cbp-spmenu-right {
    right: -190px;
  }

  /* line 520, ../sass/_smallest.scss */
  .cbp-spmenu-push-toright {
    left: 190px;
  }
}
/* line 526, ../sass/_smallest.scss */
.cbp-spmenu-push-toright .mainnav.scroll {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  left: 240px;
}

/* line 536, ../sass/_smallest.scss */
#last-year-speakers .og-grid li .thumb {
  width: 170px !important;
  height: 170px !important;
}

/* line 545, ../sass/_smallest.scss */
#location h3 {
  font-family: "Lobster", cursive;
  text-transform: none;
  color: white;
  font-size: 2em;
}

/* line 553, ../sass/_smallest.scss */
iframe {
  width: 100% !important;
  max-width: 420px !important;
}
/* line 556, ../sass/_smallest.scss */
iframe .page-container {
  width: 100% !important;
}

/* line 561, ../sass/_smallest.scss */
.og-expander-inner {
  padding: 20px 20px;
}

@media (min-width: 480px) {
  /* line 1, ../sass/_480.scss */
  section {
    padding: 2em;
  }

  /* line 6, ../sass/_480.scss */
  .og-grid {
    padding: 0;
  }
  /* line 8, ../sass/_480.scss */
  .og-grid li {
    width: 45%;
    margin: 0 0 20px 0;
  }

  /* line 14, ../sass/_480.scss */
  .thumb {
    display: static;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/_768.scss */
  section {
    padding: 5em 2em;
  }

  /* line 7, ../sass/_768.scss */
  .thumb {
    width: 200px;
    height: 200px !important;
  }

  /* line 13, ../sass/_768.scss */
  .og-grid li {
    width: 26%;
    margin: 0 28px 28px;
  }

  /* line 21, ../sass/_768.scss */
  #last-year-speakers .og-grid li {
    padding-bottom: 2em;
  }

  /* line 28, ../sass/_768.scss */
  .content img {
    width: 325px;
  }

  /* line 33, ../sass/_768.scss */
  h2 {
    font-size: 50px;
  }

  /* line 40, ../sass/_768.scss */
  .intro .content {
    padding: 2em 0;
  }
  /* line 43, ../sass/_768.scss */
  .intro .content h1 {
    font-size: 75px;
  }
  /* line 48, ../sass/_768.scss */
  .intro .content img {
    width: 312px;
  }
  /* line 51, ../sass/_768.scss */
  .intro .content .date {
    font-size: 40px;
    margin: 25px 0;
  }

  /* line 63, ../sass/_768.scss */
  .mainnav.scroll a {
    padding: 1.5em 0px;
  }
  /* line 68, ../sass/_768.scss */
  .mainnav ul li {
    width: 15%;
  }
  /* line 71, ../sass/_768.scss */
  .mainnav ul li a {
    font-size: 1.1em;
  }

  /* line 80, ../sass/_768.scss */
  .og-expander-inner {
    padding: 50px 150px;
  }
}
@media (min-width: 940px) {
  /* line 1, ../sass/_940.scss */
  .og-expander-inner {
    padding: 50px 181px;
  }
}
@media (min-width: 980px) {
  /* line 3, ../sass/_980.scss */
  .mainnav ul {
    text-align: center;
  }
  /* line 6, ../sass/_980.scss */
  .mainnav ul li a {
    padding: 3em 5px;
  }
}
/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */
